doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Gulp: JS build system

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 Gulp: JS build system

      //- section
      //-   h2 Keyboard Interaction
      //-   h3 Powered by <a href="https://github.com/markdalgleish/bespoke-keys">bespoke-keys</a>

      //- section
      //-   h2 Touch Interaction
      //-   h3 Powered by <a href="https://github.com/markdalgleish/bespoke-touch">bespoke-touch</a>

      //- section
      //-   h2 Responsive Slides
      //-   h3 Powered by <a href="https://github.com/markdalgleish/bespoke-scale">bespoke-scale</a>

      //- section
      //-   h2 Bullet List
      //-   h3.bullet Powered by <a href="https://github.com/markdalgleish/bespoke-bullets">bespoke-bullets</a>
      //-   ul
      //-     li Bullet 1
      //-     li Bullet 2
      //-     li Bullet 3

      //- section
      //-   h2 Syntax Highlighting
      //-   h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
      //-   pre
      //-     code.language-javascript.
      //-       bespoke.from('article', [
      //-         classes(),
      //-         keys(),
      //-         touch(),
      //-         bullets('li, .bullet')
      //-       ]);

      //- section(data-bespoke-hash='named-route')
      //-   h2 Named Route
      //-   h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
      //-   p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      //- section
      //-   h2.bullet Just the beginning...
      //-   br
      //-   ul
      //-     li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
      //-     li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
      //-     li Edit JavaScript in <em>'src/scripts/main.js'</em>
      //-   br
      //-   ul
      //-     li
      //-       strong Enjoy! :)
      //-       a(href='http://twitter.com/markdalgleish')  -@markdalgleish
            
      section
        h1.bullet Wat is gulp?
        br
        ul
          li Javascript build system
          li
            <img src="https://raw.githubusercontent.com/gulpjs/artwork/master/gulp-2x.png" height="200px">
            
      section
        h2.bullet Plugins:
        br
        ul
          li gulp-less
          li gulp-autoprefixer
          li gulp-concat
          li gulp-uglify
        ul
          li css-sprite
      
      section
        h2 Less
        pre.medium
          code.language-less.
            @fugroBlauw: #f938ab;
            @import "import/font_sizes.less";

            .header {
              background-color: @fugroBlauw;
              
              .menu {
                font-size: @headerSize + 2px;
              }
            }
      
      section
        h4 Configuration: <i>gulpfile.js</i>
        pre.small
          code.language-javascript.
            var gulp = require('gulp');
            var less = require('gulp-less');
            var concat = require('gulp-concat');
            
            gulp.task('less', function() {
              gulp.src(['less/**/*.less'])
                .pipe(less())
                .pipe(concat('frontpage.css'))
                .pipe(gulp.dest('compiled'));
            });
      
      section
        h1 Demo
        <img src="https://raw.githubusercontent.com/gulpjs/artwork/master/gulp-2x.png" height="100px">
      
      section.bullet
        h4.bullet Probleem: chrome inspector werkt niet goed meer
        h2.bullet Oplossing: sourcemaps
        pre.small.bullet
          code.language-javascript.
            var gulp = require('gulp');
            var less = require('gulp-less');
            var concat = require('gulp-concat');
            var sourcemaps = require('gulp-sourcemaps');

            gulp.task('less', function() {
              gulp.src(['less/**/*.less'])
                .pipe(sourcemaps.init())
                  .pipe(less())
                  .pipe(concat('frontpage.css'))
                .pipe(sourcemaps.write('.'))
                .pipe(gulp.dest('compiled'));
            });
        
      section
        h1 Demo
        <img src="https://raw.githubusercontent.com/gulpjs/artwork/master/gulp-2x.png" height="100px">
            
      section.bullet
        h1.bullet LiveReload
        pre.tiny.bullet
          code.language-javascript.
            var gulp = require('gulp');
            var less = require('gulp-less');
            var livereload = require('gulp-livereload');
            var plumber = require('gulp-plumber');

            gulp.task('less', function() {
              gulp.src(['less/**/*.less'])
                .pipe(plumber())
                .pipe(less())
                .pipe(gulp.dest('compiled'))
              ;
            });

            gulp.task('livereload', function() {
                livereload.listen();
                gulp.watch('less/**/*.less', ['less']);
                gulp.watch(['compiled/**/*.css'], livereload.reload);
            });
      
      section
        h1 Demo
        <img src="https://raw.githubusercontent.com/gulpjs/artwork/master/gulp-2x.png" height="100px">
            
      section
        h1 Getting started
        div.text-align-left
          p Installeer node 
            a(href="https://nodejs.org/download/") nodejs.org/download
          p npm install --global gulp-cli
          p frontwise-toolkit/js/Gulp
          p npm install
          p ./watch.sh of gulp watch
      
      section
        h1 Go Gulp!
        img(src="images/big_gulp.jpg", alt="" height="300px")

    script(src='build/build.js')